
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DASHBOARD</title>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap Lesson</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  <!--   <link rel="stylesheet" href="assets/css/font-awesome.min.css"> -->
     <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

        <div class="container-fluid">
            <div class="row">
                <nav class="nav navbar-justify">
                    <button class="navbar-toggle" data-toggle="collapse" data-target="#one">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <form action="" style="background-color: #1AA7A0 ;color: white;">
                    <table>
                        <tr class="custom">
                            <th><h3>  &nbsp;&nbsp;&nbsp;&nbsp;Wine Cosmetic Shop&nbsp;&nbsp;&nbsp;&nbsp;  </h3></th>
                            <th><h5> <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Point Of Sale System&nbsp;&nbsp;  </h5></th>
                        </tr>
                        <tr class="custom">
                            <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mya yamon kantharya realty,ThinGanGyun&nbsp;&nbsp;<br>  <br></td>
                            <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ph no::09250307723<br><br>  </td>
                        </tr>
                    </table>
                    </form>
                    </nav>
                </div>
<!-- -----------------------------------pager------------------------- -->
                <div class="row">
                    <div class="col-md-12">
                        <ol class="pager">
                            <li class="previous"><span class="glyphicon glyphicon-list"style="padding-bottom: 8px;font-size: 20px;">&nbsp;/Profit&Loss</span></li>
                            <li class="next"><a href="/admin"><span class="glyphicon glyphicon-home"style="padding-top: 8px;">&nbsp;/Admin Page<br><br></span></a></li>
                        </ol>
                    </div>
                </div>


                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <fieldset>
                            <legend><h3><i>Daily Profit and Loss</i></h3></legend>
                            </fieldset>
                        <div class="row">
                          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <span class="input-group-addon" style="text-align: right;border:none;border-radius:20px; height:40px;">Search:&nbsp;
                                <input type="text" name="" class="glyphicon glyphicon-search" id="searchBtn" onkeyup="myFunction();">&nbsp;&nbsp;&nbsp;
                                <a href="#"><span class="glyphicon glyphicon-search"></span></a>
                            </span>
                          </div>
                        </div><br>
                            <div class="well"style="overflow: auto; max-height: 300px;">
                                <form action="" class="form-horizontal">
                                    <table class="table table-striped">
                                        <tr>
                                          <th>Date</th>
                                          <th>Total Sale</th>
                                          <th>Total Expense</th>
                                          <th>Profit & Loss</th>

                                          </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                    </table>
                                </form>
                            </div>
                    </div>



                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <fieldset>
                            <legend><h3><i>Monthly Profit and Loss</i></h3></legend>
                            </fieldset>
                            <div class="row">
                              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <span class="input-group-addon" style="text-align: right;border:none;border-radius:20px; height:40px;">Search:&nbsp;
                                <input type="text" name="" class="glyphicon glyphicon-search" id="searchBtn" onkeyup="myFunction();">&nbsp;&nbsp;&nbsp;
                                <a href="#"><span class="glyphicon glyphicon-search"></span></a>
                            </span>
                          </div>
                        </div><br>
                            <div class="well"style="overflow: auto; max-height: 300px;">
                                <form action="" class="form-horizontal">
                                    <table class="table table-striped">
                                      <tr>
                                        <th>Date</th>
                                        <th>Total Sale</th>
                                        <th>Total Expense</th>
                                        <th>Profit & Loss</th>

                                      </tr>
                                      <tr>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>

                                      </tr>
                                    </table>
                                </form>
                            </div>
                        </div>



                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <fieldset>
                            <legend><h3><i>Yearly Profit and Loss</i></h3></legend>
                            </fieldset>
                        <div class="row">
                          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <span class="input-group-addon" style="text-align: right; border:none;border-radius:20px;height:40px;">Search:&nbsp;
                                <input type="text" name="" class="glyphicon glyphicon-search" id="searchBtn" onkeyup="myFunction();" >&nbsp;&nbsp;&nbsp;
                                <a href="#"><span class="glyphicon glyphicon-search"></span></a>
                            </span>
                          </div>
                        </div><br>
                            <div class="well"style="overflow: auto; max-height: 300px;">
                                <form action="/profit" method="POST" class="form-horizontal">
                                    <table class="table table-striped">
                                      <tr>
                                          <th>Date</th>
                                          <th>Total Sale</th>
                                          <th>Total Expense</th>
                                          <th>Profit & Loss</th>

                                      </tr>
                                      <tr>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>

                                      </tr>
                                    </table>
                                </form>
                            </div>
                        </div>

                    </table>
                </form>
              </div>

    <script rel="stylesheet" src="/js/jquery.min.js"></script>
    <script rel="stylesheet" src="/js/bootstrap.min.js"></script>
</body>
</html>
